lua/*.[oa]
version.c
depends/src
depends/install
depends/single
depends/double
depends/download
tests/*/*
.deps/*
.objs/*
*.[oa]
.deps
.objs
.libs
*.log
*.ipynb

Makefile.local

lua/lua
lua/luac
src/fastpm
src/fastpm-fof
src/fastpm-lua
src/fastpm-rfof
src/lua-config.c
src/lua-config.h
src/lua-runtime.c
tests/testangulargrid
tests/testboxsphere
tests/testconstrained
tests/testcosmology
tests/testfof
tests/testlightcone
tests/testpm
tests/testrfof
tests/testsubsample
